<% className = form_action.delete(:class) %>
<%= form_tag(form_action, :id => "#{form_type}_form", :enctype => "multipart/form-data", :class => className) do %>

  <%= render :partial => "form" %>

<% end %>
<% if current_user.admin? %>
  <%= form_tag("/admin/content/merge/#{form_action[:id]}", :method => "put") do %>
    <h3>Merge Articles</h3>
    <%= label_tag :merge_with, "Article ID" %>
    <%= text_field_tag :merge_with %>
    <%= submit_tag "Merge Articles" %>
  <% end %>
<% end %>
